/*----- Style for css-demo -----*/
/*  ----Responsive Images----  */
img {
  max-width: 100%;
  height: auto;
}
/*  ----Box Sizing----  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*--- Global Style ---*/
body {
  background-color: #f2f2f2;

  font-family: "Slackside One", cursive;
  margin: 0;
 
}

header.primary {
  background-color: #f29863;
  color: #f2f2f2;
  text-shadow: 3px 3px #f27405;
  text-align: center;
  padding: 20px 40px;
  background-image:url("../img/pumpkin-photo.jpg");
}
header.primary h1 {
  font-size: 2.4rem;
  margin: 20px 0 0px;
}
header.primary h1 a {
  color: #f2f2f2;
  text-decoration: none;
}
header.primary h2 {
  font-size: 1.4rem;
  margin: 0;
}

header.primary nav {
  max-width: 900px;
  /*margin alignment*/
  margin: 20px auto;
}
header.primary nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}
header.primary nav ul li {
  list-style-type: none;
}
header.primary nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1px 10px;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  transition: 0.2s;
}
header.primary nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#intro {
  border-bottom: 3px dashed #f27405;
  padding-bottom: 13px;
}
#intro h2 {
  color: #f27405;
  border-bottom: 3px dashed #f27405;
}
#content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#content .post {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: 0.5s;
}
#content article.post:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

article.post figure {
  margin: 0;
}

time.post-date,
article.post figcation,
article.post .post-meta {
  text-transform: uppercase;
  color: #f25c05;
}

article.post a {
  color: #f25c05;
}
article.post a:hover {
  text-decoration: none;
}
article.post img {
  border: 1px dotted #f27405;
  padding: 2px;
  margin: 10px auto;
  background: #f29863;
}

#practice h2{
  color:#f27405;
  border-bottom:3px dashed #f27405;
}

table{
  border: 1px solid #f25c05;
  width:100%;
  border-collapse:collapse;
  margin:20px 0;
}

caption{
  font-weight:bold;
  margin:10px;
}

tr:nth-child(even){
  background-color:rgba(0,0,0,.1);
}
tr:hover{
  background-color:rgba(0,0,0,0.2);
}
th{
  background-color:#f2f2f2;
  color:#f27405;
  padding:10px;
}
td{
  border: 1px solid #f25c05;
  padding:5px;
}
td:nth-child(n+2){
  text-align:right;
}

#practice ol{
  clear:both;
  list-style-type:lower-roman;
}

#practice ul{
  list-style-type:"\1F44D";
}
#practice ul ul{
  list-style-type:square;
}

dl{
  background-color:#f29863;
  color:#f2f2f2;
  border-style:double;
  border-color:#f25c05;
  margin:auto;
}

dt{
  font-weight:bold;
}

dd+dt{
  margin-top:20px;
}

dd{
  margin:0;
}

#practice h4{
  color:#f27405;
  border-left:5px solid #f27405;
  padding-left:5px 10px;
}

#practice blockquote{
  border:4px double #f29863;
  padding:20px 40px;
  margin:40px 80px;
  border-radius:30px 0;
  background-color:#f27405;
  color:#f2f2f2;
  line-height:1.4;
  text-shadow:1px 1px #f29863;
}

#practice blockquote cite{
display:block;
text-align:right;
font-size:.8rem;
margin-top:10px;
}

aside[role="complementary"] {
  background-color: #f27405;
  color: #f2f2f2;
  padding: 1.9rem;
}

aside .container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

aside .container a:last-of-type {
  color: #f2f2f2;
  display: block;
  text-align: right;
  font-size: 0.8rem;
  margin-top: 10px;
}

aside footer {
  display: none;
}

#colophon {
  background-color: #f29863;
  padding: 10px;
  color: #f2f2f2;
  text-align: center;
}

/*  ----Media Queries----  */
@media screen and (max-width: 600px) {
  header.primary nav ul {
    flex-direction: colum;
    max-width: 250px;
    margin: auto;
  }

  header.primary nav ul a {
    display: block;
  }
}

/*  ----Utility Classes----  */
.container {
  max-width: 80vw;
  margin: 40px auto;
}

#content,
aside .container{
  flex-direction: column;
}
#content img {
  display: block;
  margin: auto;
}

.img-right{
  float:right;
  margin:10px 0 10px 20px;
  border:5px double #f27405;
  padding: 2px;
  box-shadow: 4px 4px 1px rgba(0,0,0,.4);
  width:30%;
}

.img-left{
  float:left;
  margin:10px 20px 10px 10px;
  border:5px double #f27405;
  padding: 5px;
  box-shadow: -4px 4px 1px rgba(0,0,0,.4);
  width:30%
}

.img-center{
display:block;
margin:20px auto;
border:5px double #f29863;
padding:5px;
box-shadow: -4px 4px 1px rgba(0, 0, 0, 0.4);
width:50%;
}