/*--Responsive Images--*/
img{
    max-width:100%;
    height:auto;
}


/*--Box Sizing--*/
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*---Global Style---*/

/*-Body Style-*/
body{
    background-color: #f2f2f2;

    font-family: 'Karla', sans-serif;
    margin:5px;
}

/*-Header Style-*/
header.primary {
    color:#f2f2f2;
    text-align:center;
    padding:20px 40px;
    background-image:url(../img-folder/moving-carousel.gif);
}

header.primary h1{
    font-size:3.0rem;
    margin:20px 0 0px;
}

header.primary h2{
    font-size:1.6rem;
    margin:5px;
}

header.primary nav {
    max-width:900px;
    margin: 40px auto;
    font-size:1.2rem;
}

header.primary nav ul {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px;
}
header.primary nav ul li{
    list-style-type: none;
}

header.primary nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    background-color:black;
    background-color: rgba(0,0,0,0.4);
    padding: 1px 10px;
    border: 1px ridge #f2f2f2;
    border-radius: 40px;
    transition:0.2s;
}
header.primary nav ul li a:hover{
    background-color: rgba(240, 240, 240, 0.8);
    color:#99403A;
}

/*-Intro Style-*/
#intro h2{
    color: #f27405;
    text-align:center;
    font-size:2.5rem;
}

#intro p{
    color:black;
    text-align:center;
    font-size:1.2rem;
}

/*-Content Style-*/
#content h2{
    color:#f27405;
    font-size:2.5rem;
}

#content p{
    font-size: 1.2rem;
}

/*-Aside Style-*/
aside[role="complementary"]{
    background-color:#f27405;
    color:#f2f2f2;
    padding: 1.9rem;
}

aside .container{
    display: flex;
    flex-direction: row;
    gap: 40px
}

/*-Footer Style-*/
#colophon h6{
    text-align:center;
}

/*-Contact Page-*/
label, input{
    display:block;
}

/*--Media Queries--*/
@media screen and (max-width:600px){
    header.primary nav ul {
        flex-direction:column;
        max-width:250px;
        margin:auto;
    }   
    header.primary nav ul a {
        display: block;
    }
}

/*--Utility Classes--*/
